extends ../../templates/main

block vars
    - mainClass = 'room-details';


block head
    title Room-details
    link(rel="stylesheet" href="room-details.css")


block content

    - let data = require('./room-details.json');

    include ../../blocks-semantic/booking-card/booking-card
    include ../../blocks-base/icon-text-list/icon-text-list
    include ../../blocks-base/review/review
    include ../../blocks-base/bullet-list/bullet-list
    include ../../blocks-base/donut/donut

    .room-details__photos
        .room-details__photo.room-details__photo-1(style=`background-image: url( ${require('./images/' + data.images[0])})`)
        .room-details__photo.room-details__photo-2(style=`background-image: url( ${require('./images/' + data.images[1])})`)
        .room-details__photo.room-details__photo-3(style=`background-image: url( ${require('./images/'  + data.images[2])})`)
    
    .room-details__container

        .room-details__information

            .room-details__icon-text-list-wrap
                h2.room-details__icon-text-list-title= data.informationTitle
                .room-details__icon-text-list
                    +icon-text-list(data.iconTextList)

            .room-details__diagram-wrap
                h2.room-details__diagram-title= data.advantagesTitle
                .room-details__diagram
                    +donut(data.donut)

            .room-details__reviews-wrap
                h2.room-details__reviews-title= data.reviewsTitle
                span.room-details__reviews-number= data.reviewsNum
                .room-details__reviews
                    each review in data.reviews
                        .room-details__review
                            +review(review)

            .room-details__rules-wrap
                h2.room-details__rules-title= data.rulesTitle
                .room-details__rules
                    +bullet-list(data.bulletList)

            .room-details__cancellation-wrap
                h2.room-details__cancellation-title= data.cancellationTilte
                p.room-details__cancellation= data.cancellationText

        .room-details__booking-card
            +booking-card(data.bookingCard)


block script
    script(src="room-details.js")
