doctype html
html(lang="ru")
    head
        meta(charset = 'utf-8')
        meta(name='viewport' content="initial-scale=1.0, width=device-width")
        title Room-details
        link(rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
        link(rel="manifest" href="favicon/site.webmanifest")
        link(rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        link(rel="stylesheet" href="room-details.css")

    body.room-details

        include ../../components/header/header
        include ../../components/footer/footer
        include ../../components/booking-card/booking-card
        include ../../common.blocks/icon-text-list/icon-text-list
        include ../../common.blocks/review/review
        include ../../common.blocks/bullet-list/bullet-list
        include ../../common.blocks/donut/donut
        - 
            let options;
            let items;
            let dropdownContent = {
                guests: {
                    text: 'Сколько гостей',
                    items: ['Взрослые', 'Дети', 'Младенцы'],
                    buttons: ['Очистить', 'Применить']
                },
                furniture: {
                    text: 'Удобства',
                    items: ['Спальни', 'Кровати', 'Ванные комнаты'],
                    buttons: false
                }
            };
            let dateTextField = {
                maskParameters: {
                    type: 'date',
                    delimiter: '.',
                    pattern: ['d', 'm', 'Y']
                },
                placeholder: 'ДД.ММ.ГГГГ'   
            };

        .room-details__header
            -
                options = {
                    items: [
                        {text: 'О нас'},
                        {text: 'Услуги', hasSubmenu: true},
                        {text: 'Вакансии'},
                        {text: 'Новости'},
                        {text: 'Соглашения', hasSubmenu: true},
                    ],
                    loginButton: {
                        text: 'Войти', isSecondary: true, isSmall: true
                    },
                    registerButton: {
                        text: 'Зарегистрироваться', isSmall: true 
                    },
                    isMenuItemSlim: true
                }

            +header(options)

        .room-details__photos
            .room-details__photo.room-details__photo-1(style=`background-image: url( ${require('./images/room-details__front-1.jpg')})`)
            .room-details__photo.room-details__photo-2(style=`background-image: url( ${require('./images/room-details__front-2.jpg')})`)
            .room-details__photo.room-details__photo-3(style=`background-image: url( ${require('./images/room-details__front-3.jpg')})`)
        
        .room-details__container
            .room-details__information
                .room-details__icon-text-list-wrap
                    h2.room-details__icon-text-list-title Сведения о номере
                    .room-details__icon-text-list
                        -
                            items = [
                                {richText: 'Комфорт', text: 'Шумопоглощающие стены', icon: 'insert_emoticon'},
                                {richText: 'Удобство', text: 'Окно в каждой из спален', icon: 'location_city'},
                                {richText: 'Уют', text: 'Номер оснащён камином', icon: 'whatshot', isUnderlined: false}
                            ]
                        
                        +icon-text-list(items)

                .room-details__diagram-wrap
                    h2.room-details__diagram-title Впечатления от номера
                    .room-details__diagram
                        -
                            options = {
                                marksNames : ['Великолепно', 'Хорошо', 'Удовлетворительно', 'Разочарован'],
                                dataName: 'голосов'
                            }

                        +donut(options)

                .room-details__reviews-wrap
                    h2.room-details__reviews-title Отзывы посетителей номера
                    span.room-details__reviews-number 2 отзыва
                    .room-details__reviews
                        -
                            items = [
                                {
                                    avatar: 'room-details__avatar-2.jpg', 
                                    likeButton: {number: 12, isChecked: true}, 
                                    name: 'Мурад Сарафанов', 
                                    time: '5 дней назад', 
                                    comment: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                                },
                                {
                                    avatar: 'room-details__avatar-1.jpg', 
                                    likeButton: {number: 2}, 
                                    name: 'Патрисия Стёклышкова', 
                                    time: 'Неделю назад', 
                                    comment: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'
                                }
                            ]

                        each item in items
                            .room-details__review
                                +review(item)

                .room-details__rules-wrap
                    h2.room-details__rules-title Правила
                    .room-details__rules
                        -
                            items = [
                                'Нельзя с питомцами',
                                'Без вечеринок и мероприятий',
                                'Время прибытия — после 13:00, а выезд до 12:00'
                            ]

                        +bullet-list({items: items})

                .room-details__cancellation-wrap
                    h2.room-details__cancellation-title Отмена
                    p.room-details__cancellation Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

            .room-details__booking-card
                -
                    options = {
                        room: {
                            number: '888',
                            class: 'люкс',
                            term: 'в сутки',
                            price: '9 990₽'
                        },
                        dateDropdown: {
                            firstDate: {
                                title: 'Прибытие',
                                date: '19.08.2019'
                            },
                            lastDate: {
                                title: 'Выезд',
                                date: '23.08.2019'
                            },
                            mask: dateTextField
                        },
                        dropdownTitle: 'Гости',
                        dropdown: {
                            content: dropdownContent.guests,
                            title: 'Гости'
                        },
                        infoItems: [
                            {text: '9 990₽ х 4 суток', sum: '39 960₽'},
                            {text: 'Сбор за услуги: скидка 2 179₽', sum: '0₽', hasIcon: true},
                            {text: 'Сбор за дополнительные услуги', sum: '300₽', hasIcon: true}
                        ],
                        total: {text: 'Итого', sum: '38 081₽'},
                        button: {text: 'Забронировать', isExtended: true}
                    }
                
                +booking-card(options)

        .room-details__footer
            -
                options = {
                    text: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
                    items: [
                        {title: 'Навигация', subitems: ["О нас", "Новости", "Служба поддержки", "Услуги"]},
                        {title: 'О нас', subitems: ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"]},
                        {title: 'Служба поддержки', subitems: ["Соглашения", "Сообщества", "Связь с нами"]},
                    ],
                    subscription: {
                        title: 'Подписка',
                        text: 'Получайте специальные предложения и новости сервиса',
                        textField: {isSubscription: true, placeholder: 'Email'}
                    },
                    copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.',
                    links: [
                        {name: 'twitter'},
                        {name: 'facebook-square'},
                        {name: 'instagram'}
                    ]
                }
                
            +footer(options)

        script(src="room-details.js")


//-
    doctype html
    html(lang="ru")
        head
            meta(charset = 'utf-8')
            meta(name='viewport' content="initial-scale=1.0, width=device-width")
            title Room-details
            link(rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon.png")
            link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
            link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
            link(rel="manifest" href="favicon/site.webmanifest")
            link(rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5")
            meta(name="msapplication-TileColor" content="#da532c")
            meta(name="theme-color" content="#ffffff")
            link(rel="stylesheet" href="room-details.css")
        body.room-details.page_language_ru
            include ../../components/header/header.pug
            +header(
                "room-details__header header_language_ru",
            [
                {name: "О нас", href: "#"},
                {name: "Услуги", href: "#", arrow: true},
                {name: "Вакансии", href: "#"},
                {name: "Новости", href: "#"},
                {name: "Соглашения", href: "#", arrow: true},
            ],
                {name: "Войти"}, 
                {name: "Зарегистрироваться"}, 
                {name: "Cosmin Negoita", class: "hidden"}
            )
            .room-photos
                .room-photo_wide.background-image(style=`background-image: url( ${require('./images/room-details__front-1.jpg')})`)
                .room-photos-wrap
                    .room-photo_slim.background-image(style=`background-image: url( ${require('./images/room-details__front-2.jpg')})`)
                    .room-photo_slim.background-image(style=`background-image: url( ${require('./images/room-details__front-3.jpg')})`)

            .details-and-room-card-wrap.container
                .details
                    .details__info
                        header
                            h2 Сведения о номере
                        ul.advantages
                            li
                                i.material-icons.advantage__icon insert_emoticon
                                span.advantage__title Комфорт
                                span Шумопоглащаюшие стены
                            li
                                i.material-icons.advantage__icon location_city
                                span.advantage__title Удобство
                                span Окно в каждой из спален
                            li
                                i.material-icons.advantage__icon whatshot
                                span.advantage__title Уют
                                span Номер оснащён камином
                                
                    .details__impressions
                        h2 Впечатления от номера
                        include ../../common.blocks/donut/donut.pug

                    .details__reviews
                        h2 Отзывы посетителей номера
                        span.reviews__num 2 отзыва
                        include ../../common.blocks/review/review.pug

    //-
                        +review(`background-image: url( ${require('./images/room-details__avatar-2.jpg')})`, 
                        12, 
                        "Мурад Сарафанов", 
                        "5 дней назад", 
                        "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")

                        +review(`background-image: url( ${require('./images/room-details__avatar-1.jpg')})`,
                        12,
                        "Патрисия Стёклышкова",
                        "Неделю назад", 
                        "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент")

                    .details__rules
                        h2 Правила
                        ul.bullet-list
                            li Нельзя с питомцами
                            li Без вечеринок и мероприятий
                            li Время прибытия — после 13:00, а выезд до 12:00
                    .details__cancellation
                        h2 Отмена
                        p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
                .room-card-wrap
                    include ../../components/booking-card/booking-card.pug

            hr
            include ../../components/footer/footer.pug
            +footer(
                "landing-page__footer",
                "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
                [
                    {title: "Навигация", items: ["О нас", "Новости", "Служба поддержки", "Услуги"]},
                    {title: "О нас", items: ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"]},
                    {title: "Служба поддержки", items: ["Соглашения", "Сообщества", "Связь с нами"]}
                ],
                {title: "Подписка", text: "Получайте специальные предложения и новости сервиса", button_text: "Email"},
                "Copyright © 2018 Toxin отель. Все права зачищены."
            )
    -//
            script(src="room-details.js")
