mixin counted-item({text, value = 0, gettingDataClass})
    -
        let attr = value > 0 ? value + ' ' + text : '';
        decDisabled = value < 1 ? 'counted-item__operation_disabled' : false;
        incDisabled = value > 98 ? 'counted-item__operation_disabled' : false;

    .counted-item.js-counted-item(class=gettingDataClass data-output=attr)
        .counted-item__text.js-counted-item__text= text

        button.counted-item__operation.counted-item__operation_dec.js-counted-item__operation.js-counted-item__operation_dec(type='button' class=decDisabled) -

        span.counted-item__value.js-counted-item__value= value

        button.counted-item__operation.js-counted-item__operation.js-counted-item__operation_inc(type='button' class=incDisabled) +