mixin rich-checkbox-buttons(title, items)

	.rich-checkbox-buttons
		if title
			h3.rich-checkbox-buttons__title= title

		ul
			each item in items
				li.rich-checkbox-button
					label.rich-checkbox-button__label
						input.rich-checkbox-button__input(type="checkbox" checked=item.checked name=item.name)
						p.rich-checkbox-button__title= item.title
						p.rich-checkbox-button__text= item.text