include ../../blocks-base/title/title

mixin text-field(options = {})
	-
		let {
			title, 
			isSubscription, 
			maskParameters = false, 
			placeholder = false, 
			type = 'text', 
			value = false
		} = options;

		let subscription = isSubscription ? 'text-field_subscription' : false;
		let classMasked = maskParameters ? 'text-field_masked' : false;

	.text-field.js-text-field(class=[subscription, classMasked])
		if title
			.text-field__title
				+title(title)
		input.text-field__input(
			type=type 
			placeholder=placeholder 
			value=value 
			data-type=maskParameters.type 
			data-pattern=maskParameters.pattern 
			data-delimiter=maskParameters.delimiter 
			data-blocks=maskParameters.blocks
		)
		if subscription
			i.material-icons.text-field__arrow arrow_forward



