mixin review(avatar, likes, name, when, text)
	.review
		div.review__avatar.ui-review__avatar(style=avatar)
		div.like-button-wrap.review__like-button
			label.label.label_for-like-button
				input.like-button(type="checkbox")
				.like-button__text= likes
					.material-icons
		span.review__name= name
		span= when
		p.review__text= text

// .ui-review__avatar временный класс, чтобы кругные картинки с макета нормально отображались