mixin like-button({number, isChecked=false})
	-let icon = isChecked ? favorite : favorite_border;
	-let likeButtonClass = isChecked ? 'like-button_checked' : '';
	
	.like-button(class=likeButtonClass)
		label.like-button__label
			input.like-button__input(type="checkbox" checked=isChecked)
			.like-button__text= number
				.like-button__icon.material-icons= icon
