mixin pagination({itemsOnPage, itemsNumber, page = 1, text})
	-
		let first = itemsOnPage*(page - 1) + 1;
		let last = first + itemsOnPage - 1;
		let whole = itemsNumber < 100 ? itemsNumber : '100+';

		let fullText = `${first} - ${last} ${text[0]} ${whole} ${text[1]}`

	.pagination.js-pagination(data-items-on-page=itemsOnPage data-items-number=itemsNumber data-page=page)
		.pagination__pages.js-pagination__pages
		.pagination__text= fullText