mixin checkbox-button({text, richText, isChecked=false, name=false})

	-let rich = richText ? 'checkbox-button_rich' : false;
	.checkbox-button(class=rich data-name=name)
		label.checkbox-button__label
			input.checkbox-button__input(type="checkbox" checked=isChecked)
			.checkbox-button__text-block
				if richText
					span.checkbox-button__title!= richText
				span.checkbox-button__text!= text


//- как делать нестандартный перенос текста, как например в form-elements на rich-checkbox-list? Втавлять </br> в текст, css, тег pre? я за первый вариант 