mixin header(header_class, menu, button_color_empty__text, button_color_field__text, user)
	.header.wide-block.header_main(class=header_class)
		.container
			.header__logo
				include ../../common.blocks/logo/logo-with-name.svg
			ul.header__menu.menu
				each item in menu
					li
						a(href=item.href class=item.class target=item.target)= item.name
							if item.arrow
								i.material-icons expand_more

			.button-wrap.button-wrap_color_empty(class=button_color_empty__text.class)
				.button= button_color_empty__text.name
			.button.button_color_filled.button_size_middle(class=button_color_field__text.class)= button_color_field__text.name
			span.header__user-name(class=user.class)= user.name

			input#menu__button(type="checkbox")
			label(for="menu__button")
				div
				div
				div
			.mobil-menu
				ul.header__menu.menu
					each item in menu
						li
							a(href=item.href class=item.class target=item.target)= item.name
								if item.arrow
									i.material-icons expand_more
				.button-wrap.button-wrap_color_empty(class=button_color_empty__text.class)
					.button= button_color_empty__text.name
				.button.button_color_filled.button_size_middle(class=button_color_field__text.class)= button_color_field__text.name
				span.header__user-name(class=user.class) <i class="fa fa-user-circle-o icons_colored " aria-hidden="true"></i>#{user.name}