// проблема с заменой, ошибка, 14 строка
mixin header(header_class, menu, button_color_empty__text, button_colored__text, user)
	.header.wide-block.header_main(class=header_class)
		.container
			.header__logo
				include ../../common.blocks/logo/logo-with-name.svg
			nav.header__menu.menu
				ul
					each item in menu
						li
							a(href=item.href class=item.class target=item.target)= item.name
								if item.arrow
									i.material-icons expand_more

			.button-wrap.button-wrap_not-colored(class=button_color_empty__text.class)
				.button= button_color_empty__text.name
			.button.button_colored.button_middle(class=button_colored__text.class)= button_colored__text.name
			span.header__user-name(class=user.class)= user.name

			input#menu__button(type="checkbox")
			label(for="menu__button")
				div
				div
				div
			.mobil-menu
				nav.header__menu.menu
					ul
						each item in menu
							li
								a(href=item.href class=item.class target=item.target)= item.name
									if item.arrow
										i.material-icons expand_more
				.button-wrap.button-wrap_not-colored(class=button_color_empty__text.class)
					.button= button_color_empty__text.name
				.button.button_colored.button_middle(class=button_colored__text.class)= button_colored__text.name
				span.header__user-name(class=user.class) <i class="fa fa-user-circle-o icons_colored " aria-hidden="true"></i>#{user.name}