mixin text-field({isMasked, isSubscription, placeholder = false, type = 'text', value = false, id = false} = {})
	- let mask = isMasked ? "ДД.ММ.ГГГГ" : false;
	- let maskClass = mask ? 'text-field__input_masked' : false;
	- let subscription = isSubscription ? 'text-field_subscription' : false;
	- placeholder = mask || placeholder;

	.text-field(class=subscription)
		label.text-field__label(for=id)
		input.text-field__input(class=maskClass type=type placeholder=placeholder id=id value=value)
		if subscription
			i.material-icons.text-field__arrow arrow_forward


//- есть id - можно ли их использовать
//- нужен ли label
//- оборачивать инпут в label?
//- нужно ли использовать аттрибут type==date для masked
