mixin text-field(args = {masked, type:'text', placeholder:false, value:false, id:false})
	- let mask = masked ? "ДД.ММ.ГГГГ" : false;
	- let maskClass = masked ? 'input_masked' : false
	label.text-field__label(for=id)
	input.text-field.text-field_masked(class=maskClass type=type placeholder=mask id=id value=value)
