include ../../common.blocks/button/button

mixin footer({text, items, subscription})
	footer.footer
		.footer__container
			.footer__main-info
				a.footer__logo
					include ../../common.blocks/logo/logo-with-name.svg
				p.footer__text= text

			.footer__menu
				each item in items
					.footer__item
						h3.footer__item-title= item.title
						ul
							each subitem in subitems
								li.footer__subitem= subitem

			.footer__subscription
				h3.footer__subscription-title= subscription.title
				p.footer__subscription-text= subscription.text
				.footer__subscription-text-field
					+button(subscription.button)

		.footer__line
		.footer__container.footer__container








//-
	mixin footer(footer_class, info, uls, subscribe, copyright)
		.footer.wide-block(class=footer_class)
			.container
				.footer__info
					a.footer__logo
						include ../../common.blocks/logo/logo-with-name.svg
					p= info 
				
				each ul in uls
					.footer__ul 
						h3= ul.title
						ul
							each item in ul.items
								li= item

				.footer__subscribe 
					h3= subscribe.title
					p= subscribe.text
					label.label
						input.input.input_middle(type="email" placeholder=subscribe.button_text)
						.input__arrow.arrow
							i.material-icons.icons_colored arrow_forward
			hr
			.container
				span.footer__copyright= copyright
				.footer__social-icons.social-icons 
					a.social-icon
						i.fa.fa-twitter.icons_colored
					a.social-icon
						i.fa.fa-facebook-official.icons_colored
					a.social-icon
						i.fa.fa-instagram.icons_colored