include ../../blocks-base/rate-button/rate-button
include ../../blocks-base/slider/slider

mixin room-card({images, number, lux, price, rateButton, reviews})
    .room-card

        .room-card__slider
            +slider({images})

        .room-card__content
            .room-card__room
                .room-card__room-number 
                    span.room-card__number-simbol №
                    | #{number}
                if lux
                    span.room-card__class= lux
            .room-card__price
                .room-card__price-number= price.number
                span.room-card__price-text= price.text

            .room-card__line

            .room-card__rate-button
                +rate-button(rateButton)
            .room-card__reviews
                h3.room-card__reviews-number= reviews.number
                span.room-card__reviews-text= reviews.text