include ../../common.blocks/rate-button/rate-button

mixin room-card({image, number, lux, price, rateButton, reviews})
	.room-card
		.room-card__image(style=`background-image: url( ${require('./images/' + image)})`)
			.room-card__arrow.room-card__arrow_prev
				i.material-icons expand_more
			.room-card__arrow.room-card__arrow_next
				i.material-icons expand_more
			.room-card__dots
				.room-card__dot.room-card__dot_active
				.room-card__dot
				.room-card__dot
				.room-card__dot
		.room-card__room
			h2 №
				span.room-card__number= number
			if lux
				a.room-card__class= lux
		.room-card__price-per-day
			h3= price.number
			span= price.text
		.room-card__line
		.room-card__rating-wrap
			.room-card__rate-button
				+rate-button(rateButton.id, rateButton.rate)

			.room-card__reviews
				h3= reviews.number
				span= reviews.text