mixin room(room_class, image, number, price, rating, star_name, reviews, lux)
	div(class="card room-card" class=room_class)
		//- var img = ${require('./images/avatar.png')};
		div(class="room-card__image background-image" style=image)
			div(class="room-card__arrow arrow") 
				i(class="material-icons") expand_more
			div(class="room-card__arrow arrow") 
				i(class="material-icons") expand_more
			div(class="room-card__dots")
				div(class="room__dot room__dot_active")
				div(class="room__dot")
				div(class="room__dot")
				div(class="room__dot")
		div(class="room-card__room")
			h2 №
				span(class="room__number")= number
			if lux
				a(class="link link_color_bright") люкс
		div(class="room-card__price-per-day")
			h3= Math.floor(price / 1000) + " " + ("00" + price % 1000).slice(-3) + "₽"
			span в сутки
		div(class="clearfix room-card__line")
		div(class="room-card__rating-wrap")
			div(class="rating room-card__rating")
				-for (var i = 5; i > 0; i--)
					input(class="rating__star" name=(star_name) value=i id=(star_name + i) type="radio" checked= rating == i )
					label(class="label label_rating material-icons" for=(star_name + i) )

			div(class="room-card__reviews")
				h3= reviews
				span Отзывов